<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microlight &mdash; Layout Default</title>
    <!-- Icon Microlight -->
    <link rel="shortcut icon" href="/assets/img/brand/icon.svg" type="image/x-icon">
    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="/main.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/microlight.css">

    <!-- CSS Libraries -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">

</head>

<body id="body-pd">
    <!-- Header -->
    <header class="header" id="header">
        <div class="header__toggle text-primary-500">
            <i class="bi bi-list" id="header-toggle"></i>
        </div>

        <div class="header__content">
            <!-- Search button -->
            <button type="button" class="btn btn-outline-secondary-300 btn-circle btn-circle-sm me-3"
                data-bs-toggle="modal" data-bs-target="#modalSearch">
                <i class='bx bx-search'></i>
            </button>
            <!-- Notification button-->
            <button type="button" class="btn btn-outline-secondary-300 btn-circle btn-circle-sm me-3"
                id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="20,20">
                <i class='bx bx-notification'></i>
            </button>
            <ul class="dropdown-menu border-0 shadow-lg p-2" aria-labelledby="dropdownMenuOffset">
                <div class="card">
                    <div class="card-header border-0 bg-transparent">
                        <div class="float-start pe-5">
                            <h6 class="fw-bold">Notifications</h6>
                        </div>
                        <div class="float-end">
                            <a href="#" class="md-text-rg ps-5 text-secondary-500"> Mark all read</a>
                        </div>
                    </div>
                    <div class="card-body notif">
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <i
                                    class="bi bi-code-slash icon-card-notification left text-white text-bg-primary-50 text-primary-500"></i>
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3">Template update is
                                    available
                                    now!</a>
                                <p class="sm-text-rg text-secondary-500 ps-3">17 Hours ago</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <i
                                    class="bi bi-emoji-smile icon-card-notification left text-white text-bg-warning-100 text-warning-500"></i>
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3">Welcome to Microlight
                                    template!</a>
                                <p class="sm-text-rg text-secondary-500 ps-3">Yesterday</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <i
                                    class="bi bi-hdd icon-card-notification left text-white text-bg-danger-100 text-danger-500"></i>
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3">Low disk space. Let's
                                    clean it!</a>
                                <p class="sm-text-rg text-secondary-500 ps-3">18 Hours Ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <a href="#" class="md-text-rg"> View all</a>
                    </div>
                </div>
            </ul>
            <!-- Messages button -->
            <button class="btn btn-outline-secondary-300 btn-circle btn-circle-sm me-3" id="dropdownMenuOffsetNew"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="20,20">
                <i class='bx bx-message-square-detail'></i>
            </button>
            <ul class="dropdown-menu border-0 shadow-lg p-2" aria-labelledby="dropdownMenuOffsetNew">
                <div class="card">
                    <div class="card-header border-0 bg-transparent">
                        <div class="float-start pe-5">
                            <h6 class="fw-bold">Messages</h6>
                        </div>
                        <div class="float-end">
                            <a href="#" class="md-text-rg ps-5 text-secondary-500"> Mark all as read</a>
                        </div>
                    </div>
                    <div class="card-body notif">
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <img src="/assets/img/avatar/avatar-boy.png" alt="avatar" class="w-100">
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3 mb-5">Jhon doe</a><br>
                                <span class="ps-3">Helo bro, how are you today ? 😊</span>
                                <p class="sm-text-rg text-secondary-500 ps-3">17 Hours ago</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <img src="/assets/img/avatar/avatar-girl.png" alt="avatar" class="w-100">
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3 mb-5">Elfira</a><br>
                                <span class="ps-3">Hey baby ❤️</span>
                                <p class="sm-text-rg text-secondary-500 ps-3">12 Hours ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <a href="#" class="md-text-rg"> View all</a>
                    </div>
                </div>
            </ul>
            <!-- Profile link -->
            <a href="#" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                <img src="/assets/img/avatar/avatar-2.jpg" alt="avatar">
                <ul class="dropdown-menu border-0 shadow-lg rounded ps-2 pe-5" aria-labelledby="dropdownProfile">
                    <li>
                        <span class="dropdown-header fw-bold">👋 Hey, Fin</span>
                    </li>
                    <li class="align-middle">
                        <a class="dropdown-item" href="/account/profile.html"> Profil</a>
                    </li>
                    <li class="align-middle">
                        <a class="dropdown-item" href="/account/activities.html">Activities</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/account/settings.html"> Setting</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger fw-bold" href="/pages/login.html">Logout</a>
                    </li>
                </ul>
            </a>
        </div>
    </header>

    <!-- Navbar -->
    <div class="l-navbar bg-sidenav-primary-fill" id="nav-bar">
        <nav class="nav nav-content">
            <div>
                <!-- Brand here -->
                <a href="/" class="nav__logo">
                    <img src="/assets/img/brand/logo-light.svg" alt="brand" class="nav__logo-icon">
                </a>

                <div class="nav__list">

                    <a href="/" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon bx-tada-hover'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link active" id="flush-components" data-bs-toggle="collapse"
                        data-bs-target="#flushComponents" aria-expanded="false" aria-controls="flushComponents">
                        <i class='bx bx-layer nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Components</span>

                    </a>
                    <div id="flushComponents" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-components" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body modal-dialog-scrollable">
                            <div class="d-flex flex-column" id="accordion-container-components">
                                <span class="dropdown-header p-2 text-secondary-400">Custom components</span>
                                <a href="/components/accordion.html" class="accordion-items p-2">Accordion</a>
                                <a href="/components/alert.html" class="accordion-items p-2">Alert</a>
                                <a href="/components/badge.html" class="accordion-items p-2">Badge</a>
                                <a href="/components/breadcrumb.html" class="accordion-items p-2">Breadcrumb</a>
                                <a href="/components/buttons.html" class="accordion-items p-2">Buttons</a>
                                <a href="/components/card.html" class="accordion-items p-2">Card</a>
                                <a href="/components/carousel.html" class="accordion-items p-2">Carousel</a>
                                <a href="/components/collapse.html" class="accordion-items p-2">Collapse</a>
                                <a href="/components/dropdown.html" class="accordion-items p-2">Dropdown</a>
                                <a href="/components/form.html" class="accordion-items p-2">Form</a>
                                <a href="/components/list-group.html" class="accordion-items p-2">List Group</a>
                                <a href="/components/media-object.html" class="accordion-items p-2">Media Object</a>
                                <a href="/components/modal.html" class="accordion-items p-2">Modal</a>
                                <a href="/components/nav.html" class="accordion-items p-2">Nav</a>
                                <a href="/components/navbar.html" class="accordion-items p-2">Navbar</a>
                                <a href="/components/pagination.html" class="accordion-items p-2">Pagination</a>
                                <a href="/components/popovers.html" class="accordion-items p-2">Popover</a>
                                <a href="/components/progress.html" class="accordion-items p-2">Progress</a>
                                <a href="/components/table.html" class="accordion-items p-2">Table</a>
                                <a href="/components/toasts.html" class="accordion-items p-2">Toasts</a>
                                <a href="/components/tooltips.html" class="accordion-items p-2">Tooltip</a>
                                <a href="/components/typography.html" class="accordion-items p-2">Typography</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link" id="flush-utilities" data-bs-toggle="collapse"
                        data-bs-target="#flushUtilities" aria-expanded="false" aria-controls="flushUser">
                        <i class='bx bx-wrench nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Utilities</span>

                    </a>
                    <div id="flushUtilities" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-utilities" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="d-flex flex-column" id="accordion-container-utilities">
                                <span class="dropdown-header p-2 text-secondary-400">Custom utilities</span>
                                <a href="/utilities/color.html" class="accordion-items p-2">Color</a>
                                <a href="/utilities/text.html" class="accordion-items p-2">Text</a>
                                <a href="/utilities/border.html" class="accordion-items p-2">Border</a>
                                <a href="/utilities/elevation.html" class="accordion-items p-2">Elevation</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link" id="flush-pages" data-bs-toggle="collapse"
                        data-bs-target="#flushPages" aria-expanded="false" aria-controls="flushUser">
                        <i class='bx bx-folder nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Pages</span>

                    </a>
                    <div id="flushPages" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-pages" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="d-flex flex-column" id="accordion-container-pages">
                                <span class="dropdown-header p-2 text-secondary-400">Auth screens</span>
                                <a href="/pages/login.html" class="accordion-items p-2">Login</a>
                                <a href="/pages/register.html" class="accordion-items p-2">Register</a>
                                <a href="/pages/forgot-password.html" class="accordion-items p-2">Forgot password</a>
                                <a href="/pages/reset-password.html" class="accordion-items p-2">Reset password</a>
                                <span class="dropdown-header p-2 text-secondary-400">Starter screens</span>
                                <a href="/pages/blank.html" class="accordion-items p-2">Blank pages</a>
                                <a href="/pages/layout-default.html" class="accordion-items p-2">Layout Default</a>
                                <span class="dropdown-header p-2 text-secondary-400">Errors screens</span>
                                <a href="/pages/503.html" class="accordion-items p-2">503</a>
                                <a href="/pages/403.html" class="accordion-items p-2">403</a>
                                <a href="/pages/404.html" class="accordion-items p-2">404</a>
                                <a href="/pages/500.html" class="accordion-items p-2">500</a>
                                <span class="dropdown-header p-2 text-secondary-400">Form screens</span>
                                <a href="/pages/editor.html" class="accordion-items p-2">Editor</a>
                                <a href="/pages/validation.html" class="accordion-items p-2">Validation</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <a href="/charts" class="nav__link">
                        <i class='bx bx-bar-chart-alt-2 nav__icon bx-tada-hover'></i>
                        <span class="nav__name">Charts</span>
                    </a>

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link" id="flush-table" data-bs-toggle="collapse"
                        data-bs-target="#flushTable" aria-expanded="false" aria-controls="flushUser">
                        <i class='bx bx-table nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Table</span>
                    </a>
                    <div id="flushTable" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-table" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="d-flex flex-column" id="accordion-container-table">
                                <span class="dropdown-header p-2 text-secondary-400">Table screens</span>
                                <a href="/table" class="accordion-items p-2 active">Data table</a>
                                <a href="/table/custom-table.html" class="accordion-items p-2">Custom table</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <a href="#" class="nav__link">
                        <i class='bx bx-log-out nav__icon bx-tada-hover'></i>
                        <span class="nav__name">Log Out</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <!-- Container wrapper -->
    <div class="main-content">
        <!-- Search -->
        <div class="modal fade modal-search" id="modalSearch" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xxl-down">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <input type="text" placeholder="Search here" class="center">
                    </div>
                </div>
            </div>
        </div>
        <!-- Start content here -->
        <div class="header__page d-flex align-items-left align-items-md-center flex-column flex-md-row pt-5 mb-4 mt-5">
            <div>
                <h2 class="fw-bold">Carousel Page</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb sm-text-rg">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item">Carousel page</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <!-- Slides only -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="fw-bold">Slides only</h6>
                    </div>
                    <div class="card-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active p-1">
                                    <img src="https://images.unsplash.com/photo-1645323927915-c5a29e88637b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5" alt="thumbnail-img">
                                </div>
                                <div class="carousel-item p-1">
                                    <img src="https://images.unsplash.com/photo-1645323927924-92c23d9273f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5" alt="thumbnail-img">
                                </div>
                                <div class="carousel-item p-1">
                                    <img src="https://images.unsplash.com/photo-1645323927916-969f9f314ba3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5" alt="thumbnail-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- With captions -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="fw-bold">With captions</h6>
                    </div>
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://images.unsplash.com/photo-1645323927915-c5a29e88637b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1645323927924-92c23d9273f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1645323927916-969f9f314ba3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- With indicators -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="fw-bold">With indicators</h6>
                    </div>
                    <div class="card-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://images.unsplash.com/photo-1645323927915-c5a29e88637b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1645323927924-92c23d9273f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1645323927916-969f9f314ba3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- With control -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="fw-bold">With controls</h6>
                    </div>
                    <div class="card-body">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://images.unsplash.com/photo-1645323927915-c5a29e88637b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1645323927924-92c23d9273f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1645323927916-969f9f314ba3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=829&q=80"
                                        class="d-block w-100 rounded-5 p-1" alt="thumbnail-img">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <div class="float-start">
                Copyright &copy; 2022 <div class="bullet"></div> Design with ❤️ By <a
                    href="https://designwitharifin.netlify.app/">designwitharifin</a>
            </div>
            <div class="float-end">
                v1.0.0
            </div>
        </footer>
        <!-- General JS Scripts -->
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

        <!-- Template JS FIle -->
        <script src="/node_modules/bootstrap/dist/js/main.js"></script>

        <!-- Js Libraries -->
        <script src="/assets/js/jquery.min.js"></script>
        <script>
            // Collapse sidebar accordion container components 
            $(function () {
                // This is where we define the accordion container's maximum height, and scrolling if the content overflows.
                var containerOffset = $('#accordion-container-components').offset(); // gets the container's origin coordinates
                var containerHeight = ($(window).height() - containerOffset.top) - 400; //determines container's maximum height
                $('#accordion-container-components').css({ // sets container's maximum height & enables vertical scrolling for content overflow
                    'max-height': containerHeight,
                    'overflow-y': 'auto'
                });
            });

            $(function () {
                // This is where we define the accordion container's maximum height, and scrolling if the content overflows.
                var containerOffset = $('#accordion-container-utilities').offset(); // gets the container's origin coordinates
                var containerHeight = ($(window).height() - containerOffset.top) - 400; //determines container's maximum height
                $('#accordion-container-utilities').css({ // sets container's maximum height & enables vertical scrolling for content overflow
                    'max-height': containerHeight,
                    'overflow-y': 'auto'
                });
            });

            $(function () {
                // This is where we define the accordion container's maximum height, and scrolling if the content overflows.
                var containerOffset = $('#accordion-container-pages').offset(); // gets the container's origin coordinates
                var containerHeight = ($(window).height() - containerOffset.top) - 400; //determines container's maximum height
                $('#accordion-container-pages').css({ // sets container's maximum height & enables vertical scrolling for content overflow
                    'max-height': containerHeight,
                    'overflow-y': 'auto'
                });
            });
        </script>

</body>

</html>