<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microlight &mdash; List Group</title>
    <!-- Icon Microlight -->
    <link rel="shortcut icon" href="/assets/img/brand/icon.svg" type="image/x-icon">
    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="/main.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/microlight.css">

    <!-- CSS Libraries -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">

</head>

<body id="body-pd">
    <!-- Header -->
    <header class="header" id="header">
        <div class="header__toggle text-primary-500">
            <i class="bi bi-list" id="header-toggle"></i>
        </div>

        <div class="header__content">
            <!-- Search button -->
            <button type="button" class="btn btn-outline-secondary-300 btn-circle btn-circle-sm me-3"
                data-bs-toggle="modal" data-bs-target="#modalSearch">
                <i class='bx bx-search'></i>
            </button>
            <!-- Notification button-->
            <button type="button" class="btn btn-outline-secondary-300 btn-circle btn-circle-sm me-3"
                id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="20,20">
                <i class='bx bx-notification'></i>
            </button>
            <ul class="dropdown-menu border-0 shadow-lg p-2" aria-labelledby="dropdownMenuOffset">
                <div class="card">
                    <div class="card-header border-0 bg-transparent">
                        <div class="float-start pe-5">
                            <h6 class="fw-bold">Notifications</h6>
                        </div>
                        <div class="float-end">
                            <a href="#" class="md-text-rg ps-5 text-secondary-500"> Mark all read</a>
                        </div>
                    </div>
                    <div class="card-body notif">
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <i
                                    class="bi bi-code-slash icon-card-notification left text-white text-bg-primary-50 text-primary-500"></i>
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3">Template update is
                                    available
                                    now!</a>
                                <p class="sm-text-rg text-secondary-500 ps-3">17 Hours ago</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <i
                                    class="bi bi-emoji-smile icon-card-notification left text-white text-bg-warning-100 text-warning-500"></i>
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3">Welcome to Microlight
                                    template!</a>
                                <p class="sm-text-rg text-secondary-500 ps-3">Yesterday</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <i
                                    class="bi bi-hdd icon-card-notification left text-white text-bg-danger-100 text-danger-500"></i>
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3">Low disk space. Let's
                                    clean it!</a>
                                <p class="sm-text-rg text-secondary-500 ps-3">18 Hours Ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <a href="#" class="md-text-rg"> View all</a>
                    </div>
                </div>
            </ul>
            <!-- Messages button -->
            <button class="btn btn-outline-secondary-300 btn-circle btn-circle-sm me-3" id="dropdownMenuOffsetNew"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="20,20">
                <i class='bx bx-message-square-detail'></i>
            </button>
            <ul class="dropdown-menu border-0 shadow-lg p-2" aria-labelledby="dropdownMenuOffsetNew">
                <div class="card">
                    <div class="card-header border-0 bg-transparent">
                        <div class="float-start pe-5">
                            <h6 class="fw-bold">Messages</h6>
                        </div>
                        <div class="float-end">
                            <a href="#" class="md-text-rg ps-5 text-secondary-500"> Mark all as read</a>
                        </div>
                    </div>
                    <div class="card-body notif">
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <img src="/assets/img/avatar/avatar-boy.png" alt="avatar" class="w-100">
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3 mb-5">Jhon doe</a><br>
                                <span class="ps-3">Helo bro, how are you today ? 😊</span>
                                <p class="sm-text-rg text-secondary-500 ps-3">17 Hours ago</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="float-start">
                                <img src="/assets/img/avatar/avatar-girl.png" alt="avatar" class="w-100">
                            </div>
                            <div class="description-notification float-end">
                                <a href="#" class="md-text-md fw-bold text-secondary-700 ps-3 mb-5">Elfira</a><br>
                                <span class="ps-3">Hey baby ❤️</span>
                                <p class="sm-text-rg text-secondary-500 ps-3">12 Hours ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <a href="#" class="md-text-rg"> View all</a>
                    </div>
                </div>
            </ul>
            <!-- Profile link -->
            <a href="#" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                <img src="/assets/img/avatar/avatar-2.jpg" alt="avatar">
                <ul class="dropdown-menu border-0 shadow-lg rounded ps-2 pe-5" aria-labelledby="dropdownProfile">
                    <li>
                        <span class="dropdown-header fw-bold">👋 Hey, Fin</span>
                    </li>
                    <li class="align-middle">
                        <a class="dropdown-item" href="/account/profile.html"> Profil</a>
                    </li>
                    <li class="align-middle">
                        <a class="dropdown-item" href="/account/activities.html">Activities</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/account/settings.html"> Setting</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger fw-bold" href="/pages/login.html">Logout</a>
                    </li>
                </ul>
            </a>
        </div>
    </header>

    <!-- Navbar -->
    <div class="l-navbar bg-sidenav-primary-fill" id="nav-bar">
        <nav class="nav nav-content">
            <div>
                <!-- Brand here -->
                <a href="/" class="nav__logo">
                    <img src="/assets/img/brand/logo-light.svg" alt="brand" class="nav__logo-icon">
                </a>

                <div class="nav__list">

                    <a href="/" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon bx-tada-hover'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link active" id="Contextual classesflush-components"
                        data-bs-toggle="collapse" data-bs-target="#flushComponents" aria-expanded="false"
                        aria-controls="flushComponents">
                        <i class='bx bx-layer nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Components</span>

                    </a>
                    <div id="flushComponents" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-components" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body modal-dialog-scrollable">
                            <div class="d-flex flex-column" id="accordion-container-components">
                                <span class="dropdown-header p-2 text-secondary-400">Custom components</span>
                                <a href="/components/accordion.html" class="accordion-items p-2">Accordion</a>
                                <a href="/components/alert.html" class="accordion-items p-2">Alert</a>
                                <a href="/components/badge.html" class="accordion-items p-2">Badge</a>
                                <a href="/components/breadcrumb.html" class="accordion-items p-2">Breadcrumb</a>
                                <a href="/components/buttons.html" class="accordion-items p-2">Buttons</a>
                                <a href="/components/card.html" class="accordion-items p-2">Card</a>
                                <a href="/components/carousel.html" class="accordion-items p-2">Carousel</a>
                                <a href="/components/collapse.html" class="accordion-items p-2">Collapse</a>
                                <a href="/components/dropdown.html" class="accordion-items p-2">Dropdown</a>
                                <a href="/components/form.html" class="accordion-items p-2">Form</a>
                                <a href="/components/list-group.html" class="accordion-items p-2">List Group</a>
                                <a href="/components/media-object.html" class="accordion-items p-2">Media Object</a>
                                <a href="/components/modal.html" class="accordion-items p-2">Modal</a>
                                <a href="/components/nav.html" class="accordion-items p-2">Nav</a>
                                <a href="/components/navbar.html" class="accordion-items p-2">Navbar</a>
                                <a href="/components/pagination.html" class="accordion-items p-2">Pagination</a>
                                <a href="/components/popovers.html" class="accordion-items p-2">Popover</a>
                                <a href="/components/progress.html" class="accordion-items p-2">Progress</a>
                                <a href="/components/table.html" class="accordion-items p-2">Table</a>
                                <a href="/components/toasts.html" class="accordion-items p-2">Toasts</a>
                                <a href="/components/tooltips.html" class="accordion-items p-2">Tooltip</a>
                                <a href="/components/typography.html" class="accordion-items p-2">Typography</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link" id="flush-utilities" data-bs-toggle="collapse"
                        data-bs-target="#flushUtilities" aria-expanded="false" aria-controls="flushUser">
                        <i class='bx bx-wrench nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Utilities</span>

                    </a>
                    <div id="flushUtilities" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-utilities" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="d-flex flex-column" id="accordion-container-utilities">
                                <span class="dropdown-header p-2 text-secondary-400">Custom utilities</span>
                                <a href="/utilities/color.html" class="accordion-items p-2">Color</a>
                                <a href="/utilities/text.html" class="accordion-items p-2">Text</a>
                                <a href="/utilities/border.html" class="accordion-items p-2">Border</a>
                                <a href="/utilities/elevation.html" class="accordion-items p-2">Elevation</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link" id="flush-pages" data-bs-toggle="collapse"
                        data-bs-target="#flushPages" aria-expanded="false" aria-controls="flushUser">
                        <i class='bx bx-folder nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Pages</span>

                    </a>
                    <div id="flushPages" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-pages" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="d-flex flex-column" id="accordion-container-pages">
                                <span class="dropdown-header p-2 text-secondary-400">Auth screens</span>
                                <a href="/pages/login.html" class="accordion-items p-2">Login</a>
                                <a href="/pages/register.html" class="accordion-items p-2">Register</a>
                                <a href="/pages/forgot-password.html" class="accordion-items p-2">Forgot password</a>
                                <a href="/pages/reset-password.html" class="accordion-items p-2">Reset password</a>
                                <span class="dropdown-header p-2 text-secondary-400">Starter screens</span>
                                <a href="/pages/blank.html" class="accordion-items p-2">Blank pages</a>
                                <a href="/pages/layout-default.html" class="accordion-items p-2">Layout Default</a>
                                <span class="dropdown-header p-2 text-secondary-400">Errors screens</span>
                                <a href="/pages/503.html" class="accordion-items p-2">503</a>
                                <a href="/pages/403.html" class="accordion-items p-2">403</a>
                                <a href="/pages/404.html" class="accordion-items p-2">404</a>
                                <a href="/pages/500.html" class="accordion-items p-2">500</a>
                                <span class="dropdown-header p-2 text-secondary-400">Form screens</span>
                                <a href="/pages/editor.html" class="accordion-items p-2">Editor</a>
                                <a href="/pages/validation.html" class="accordion-items p-2">Validation</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <a href="/charts" class="nav__link">
                        <i class='bx bx-bar-chart-alt-2 nav__icon bx-tada-hover'></i>
                        <span class="nav__name">Charts</span>
                    </a>

                    <!-- Nav Item - Pages Collapse Menu Start -->
                    <a href="#" class="nav__link" id="flush-table" data-bs-toggle="collapse"
                        data-bs-target="#flushTable" aria-expanded="false" aria-controls="flushUser">
                        <i class='bx bx-table nav__icon bx-tada-hover'></i>
                        <span class="nav__name dropdown-toggle float-end">Table</span>
                    </a>
                    <div id="flushTable" class="nav__item accordion-collapse collapse ms-3"
                        aria-labelledby="flush-table" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="d-flex flex-column" id="accordion-container-table">
                                <span class="dropdown-header p-2 text-secondary-400">Table screens</span>
                                <a href="/table" class="accordion-items p-2 active">Data table</a>
                                <a href="/table/custom-table.html" class="accordion-items p-2">Custom table</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav Item - Pages Collapse Menu End -->

                    <a href="#" class="nav__link">
                        <i class='bx bx-log-out nav__icon bx-tada-hover'></i>
                        <span class="nav__name">Log Out</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <!-- Container wrapper -->
    <div class="main-content">
        <!-- Search -->
        <div class="modal fade modal-search" id="modalSearch" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xxl-down">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <input type="text" placeholder="Search here" class="center">
                    </div>
                </div>
            </div>
        </div>
        <!-- Start content here -->
        <div class="header__page d-flex align-items-left align-items-md-center flex-column flex-md-row pt-5 mb-4 mt-5">
            <div>
                <h2 class="fw-bold">List Group Page</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb sm-text-rg">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item">Blank page</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Basic -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Basic</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group rounded-2 md-text-rg">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                </div>
                <!-- Disabled -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Disabled</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group rounded-2 md-text-rg">
                            <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Active -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Active</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group rounded-2 md-text-rg">
                            <li class="list-group-item active" aria-current="true">An active item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                </div>
                <!-- Link -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Link</h6>
                    </div>
                    <div class="card-body">
                        <div class="list-group rounded-2 md-text-rg">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                The current link item
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                            <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Flush -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Flush</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush rounded-2 md-text-rg">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                </div>
                <!-- Badges -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Badges</h6>
                    </div>
                    <div class="card-body">
                        <ol class="list-group list-group-numbered rounded-2 md-text-rg">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Subheading</div>
                                    Content for list item
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Subheading</div>
                                    Content for list item
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Subheading</div>
                                    Content for list item
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- Chekcboxes -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Checkboxes & Radio</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group rounded-2">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                                <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                                <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
                            </li>
                        </ul>
                        <div class="mb-4"></div>
                        <ul class="list-group rounded-2">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="firstRadio" checked>
                                <label class="form-check-label" for="firstRadio">First radio</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="secondRadio">
                                <label class="form-check-label" for="secondRadio">Second radio</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="thirdRadio">
                                <label class="form-check-label" for="thirdRadio">Third radio</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Contextual classes -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Contextual classes</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">A simple default list group item</li>

                            <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
                            <li class="list-group-item list-group-item-secondary">A simple secondary list group item
                            </li>
                            <li class="list-group-item list-group-item-success">A simple success list group item</li>
                            <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                            <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
                            <li class="list-group-item list-group-item-info">A simple info list group item</li>
                            <li class="list-group-item list-group-item-light">A simple light list group item</li>
                            <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
                        </ul>
                    </div>
                </div>
                <!-- Custom -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="fw-bold">Custom content</h6>
                    </div>
                    <div class="card-body">
                        <div class="list-group rounded-2 md-text-rg">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small>3 days ago</small>
                                </div>
                                <p class="mb-1">Some placeholder content in a paragraph.</p>
                                <small>And some small print.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Some placeholder content in a paragraph.</p>
                                <small class="text-muted">And some muted small print.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Some placeholder content in a paragraph.</p>
                                <small class="text-muted">And some muted small print.</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="main-footer">
        <div class="float-start">
            Copyright &copy; 2022 <div class="bullet"></div> Design with ❤️ By <a
                href="https://designwitharifin.netlify.app/">designwitharifin</a>
        </div>
        <div class="float-end">
            v1.0.0
        </div>
    </footer>
    <!-- General JS Scripts -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <!-- Template JS FIle -->
    <script src="/node_modules/bootstrap/dist/js/main.js"></script>

    <!-- Js Libraries -->
    <script src="/assets/js/jquery.min.js"></script>
    <script>
        // Collapse sidebar accordion container components 
        $(function () {
            // This is where we define the accordion container's maximum height, and scrolling if the content overflows.
            var containerOffset = $('#accordion-container-components').offset(); // gets the container's origin coordinates
            var containerHeight = ($(window).height() - containerOffset.top) - 400; //determines container's maximum height
            $('#accordion-container-components').css({ // sets container's maximum height & enables vertical scrolling for content overflow
                'max-height': containerHeight,
                'overflow-y': 'auto'
            });
        });

        $(function () {
            // This is where we define the accordion container's maximum height, and scrolling if the content overflows.
            var containerOffset = $('#accordion-container-utilities').offset(); // gets the container's origin coordinates
            var containerHeight = ($(window).height() - containerOffset.top) - 400; //determines container's maximum height
            $('#accordion-container-utilities').css({ // sets container's maximum height & enables vertical scrolling for content overflow
                'max-height': containerHeight,
                'overflow-y': 'auto'
            });
        });

        $(function () {
            // This is where we define the accordion container's maximum height, and scrolling if the content overflows.
            var containerOffset = $('#accordion-container-pages').offset(); // gets the container's origin coordinates
            var containerHeight = ($(window).height() - containerOffset.top) - 400; //determines container's maximum height
            $('#accordion-container-pages').css({ // sets container's maximum height & enables vertical scrolling for content overflow
                'max-height': containerHeight,
                'overflow-y': 'auto'
            });
        });
    </script>

</body>

</html>